<div class="card">
	<h2>Register</h2>
	<form id="register-form" class="form" [formGroup]="this.registerUserForm">
		<div class="row">
			<label for="username">Username:</label>
			<input
				type="text"
				id="username"
				name="username"
				class="form-control"
				formControlName="username"
				(ngModelChange)="this.dbService.checkUser('username', usernameInput.value)"
				#usernameInput
			/>
		</div>
		<div class="row">
			<label for="email">Email:</label>
			<input
				type="email"
				id="email"
				name="email"
				class="form-control"
				formControlName="email"
			/>
		</div>
		<div class="row">
			<label for="password">Password:</label>
			<input
				type="password"
				id="password"
				name="password"
				class="form-control"
				formControlName="password1"
			/>
		</div>
		<div class="row">
			<label for="confirm-password">Repeat Password:</label>
			<input
				type="password"
				id="confirm-password"
				name="confirm-password"
				class="form-control"
				formControlName="password2"
			/>
		</div>
		<div class="row">
			<button type="button" class="btn" (click)="onSubmit()">Submit</button>
		</div>
	</form>
	<div class="row"><a routerLink="/login">Login</a></div>
</div>
